login: &login
  adapter: postgresql
  schema_search_path: "{{ schema_search_path }}"
  host: {{ db_host }}
  port: 5432
  username: {{ dbusername }}
  password: "{{ dbpassword }}"

connection: &connection
  encoding: unicode
  pool: 5

development:
  database: {{ db_name }}_development
  <<: *login
  <<: *connection

test:
  database: {{ db_name }}_tests
  <<: *login
  <<: *connection

production:
  database: {{ db_name }}
  <<: *login
  <<: *connection

demo:
  database: {{ db_name }}
  <<: *login
  <<: *connection

staging:
  database: {{ db_name }}
  <<: *login
  <<: *connection
